* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: mySecondFont;
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #f2e6faff;
  font-family: myFirstFont;
}

header {
  /* border: 2px solid black; */
  width: 100%;
  height: 30%;
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-size: cover;
  position: fixed;
  top: 0px;
}

section {
  /* border: 2px solid red; */
  width: 600px;
  height: fit-content;
  z-index: 9999999;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 30px 10px 30px;
}

section .con-one {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  padding-block: 10px 20px;
}
section .con-one img {
  width: 25px;
}
section .con-one h1 {
  margin-left: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #2f1433ff;
}

section .con-two {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .con-two p {
  width: 80%;
  font-weight: 700;
  color: #2f1433ff;
}

section .con-p p {
  /* border: 2px solid black; */
  margin-block: 30px;
  line-height: 25px;
  font-size: 15px;
  /* font-weight: 500; */
  font-family: mySecondFont;
  opacity: 0.8;
  color: #2f1433ff;
}

hr {
  opacity: 0.3;
}

section .con-three,
.con-four,
.con-five {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px 20px;
  cursor: pointer;
}
section .con-three p,
.con-four p,
.con-five p {
  /* font-size: 17px; */
  width: 80%;
  font-weight: 700;
  color: #2f1433ff;
}
section .con-three img,
.con-four img,
.con-five img {
  width: 30px;
}
section .con-three p:hover,
.con-four p:hover,
.con-five p:hover {
  color: #ad28ebff;
}

.attribution {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-weight: 500;
}
.attribution a {
  color: #0000ff;
}

@media screen and (min-width: 720px) {
  header {
    background-image: url(./assets/images/background-pattern-desktop.svg);
  }
}
